#output {
    font-family: monospace;
    border: 1px solid darkred;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    white-space: pre;
}

#visualization,
#output {
    display: block;
}